<h2>Welcome!</h2>

<div data-target=first-time>
    <p>Welcome to your data discovery and query workspace.</p>
 
    <p>The left handside panel contains the list
    of <strong>concepts</strong> available for this project
    organized by <strong>categories</strong>. A concept gives you direct access to the
    content of the database. You can search concepts using the search
    box available on top of the list of concepts.</p>

    <p>When <strong>clicking on a concept name</strong>, you will be
    displayed a distribution or list of values representing the actual
    data. You can <strong>filter subjects</strong> using any of those
    concepts.

    <p>The right hand side panel informs you about the filters
    currently defined and applied, as well as the <strong>total number
    of patients</strong> matching them.</p>

    <p>Click on <strong>View Results</strong> in the bottom right
    corner to review the list of subjects you selected, along with any
    concept data you are interested in.</p>

</div>

<div data-target=welcome-back class=hide>
    <p>Welcome back. You can find your existing filters on the right and you
    can create new filters by selecting items on the left. Clicking on a filter
    on the right will open that item so you can edit it and see further 
    information associated with that filter.</p>
</div>
