<div class="query-aware-selector-region">
	<div class="button-box">
		<div class="row" style="margin-left:0;">
			<div class="span6">
				<button class="btn btn-block btn-primary select-query-aware" id="set-query-not-aware" type="button">
					Show data for all patients
				</button>
			</div>
			<div class="span6">
				<button class="btn btn-block select-query-aware" id="set-query-aware" type="button">
					Show data for only my cohort
				</button>
			</div>
		</div>
		<hr>
	</div>
</div>

<div class="concept-workspace-region"></div>
